div#content-box {
  font-size: 2em;
  margin: 64px 0 0 0;
  flex-grow: 1;
  padding: 16px;
  border: 2px solid #4885ed;
  border-radius: 8px;
  text-align: center;
  background: rgb(202,229,251);
  background: linear-gradient(180deg, rgba(202,229,251,1) 17%, rgba(130,176,255,1) 100%);
}

div#subtitle-container {
  margin-top: -50px;
  padding: 8px 32px;
  border: 3px solid #ffffff;
  border-radius: 64px;
  background: #f79646;
  color: #ffffff;
}

div#content {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
}

span.bold {
  font-weight: bold;
}

@media (min-width: 320px) and (max-width: 720px) {
  div#content-box {
    font-size: 1.5em;
    margin: 32px 0 0 0;
  }

  h3.content-subtitle {
    font-size: 20px;
  }
}