div#game-status-sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  width: 200px;
  margin: 16px auto;
  font-size: 1.5em;
  font-weight: 700;
}

@media (min-width: 320px) and (max-width: 720px) {
  div#game-status-sidebar {
    display: block;
    height: auto;
    width: auto;
  }
}