div#starting-page {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  text-align: center;
  margin: 0 auto;
}

h1.title {
  font-size: 3em;
}

h6.sub-title {
  text-align: center;
}